@media (max-width: 840px) {
  #container {
    flex-direction: column;
    height: 190vh;
    justify-content: center;
  }
  
  #content {
    margin-top: 100px;
    width: 100%;
  }
}
@media (max-width: 470px) {
  #sucess {
    height: 100%;
    width: 100%;
    justify-content: center;
  }
  #sucess img {
    margin-bottom: 50px;
    height: 100px;
    width: 100px;
  }
  #sucess h2 {
    margin-bottom: 20px;
  }
}
