body {
  background-color: hsl(234, 29%, 20%);
}

.container {
  height: 83vh;

  max-width: 900px;
  width: 100%;
  position: absolute;
  background-color: white;
  left: 50%;
  top: 50%;
  right: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  display: flex;
  padding: 27px;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.container img {
  height: 500px;
}

.content {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content h1 {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  width: 100%;
}
.content p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.content .list {
  margin-top: 40px;
}
.content .list .itens {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  list-style: none;
  display: flex;
  margin-top: 20px;
}
.content .list .itens::before {
  align-items: center;
  content: "";
  display: inline-block;
  height: 30px;
  width: 30px;
  background-image: url("../images/icon-list.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 20px;
}
label {
  margin-top: 30px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.email-adress {
  padding: 15px;
  border-radius: 9px;
  border: solid 1px grey;
  width: 100%;
}
.btn {
  padding: 15px;
  border-radius: 9px;
  width: 100%;
  border: solid 1px grey;
  background-color: hsl(234, 29%, 20%);
  margin-top: 20px;

  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s;
  border-color: rgba(240, 248, 255, 0);
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(4, 100%, 67%);
}

.btn:active{
  cursor: grabbing;
}


form {
  font-family: Calibri, sans-serif;
  font-size: 18px;
}

.form-group {
  margin: 7px auto;
}

label {
  width: 150px;
  display: inline-block;
}
.email-adress:invalid:focus {
  outline: none;
}

.email-adress:invalid:focus:invalid {
  box-shadow: none;
}

span {
  color: crimson;

  margin-left: 100px;
}

.sucess {
  display: none;
  background-color: white;
  height: 430px;
  width: 420px;
  padding: 40px;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
.sucess img {
  height: 55px;
  width: 60px;
  margin-bottom: 20px;
}
.sucess .comfirmar {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
  color: hsl(234, 29%, 20%);
  margin-bottom: 20px;
  text-align: justify;
}

.sucess .titulo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: hsl(234, 29%, 20%);
  margin-bottom: 10px;
}
.sucess .btn {
  margin-top: 10px;
  background-color: hsl(234, 29%, 20%);
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  border-radius: 7px;
  text-align: center;
  transition: background-color 0.5s;
  border: none;
  font-weight: bold;
}
.sucess .btn:hover {
  background-color: hsl(4, 100%, 67%);
}
#emailDigitado {
  color: hsl(234, 29%, 20%);
  font-weight: bold;
}
