@media (max-width: 1440px) {
  .mais .sobre>h2 {
    font-size: 40px;
  }

  .projetos h2 {
    margin-top: 180px;
  }

}

@media (max-width: 1180px) {
  .tecnologia {
    top: -100px;
  }
}

@media (max-width: 990px) {
  .rodape #job h2 {
    font-size: 30px;
  }

  .rodape #job p {
    margin-right: -15px;
  }
}

@media (max-width: 930px) {
  .rodape #job h2 {
    font-size: 25px;
  }

  .rodape #job p {
    font-size: 15px;
  }

  .btnContato {
    padding: 15px;
    width: 100px;
  }
}

@media (max-width: 900px) {
  .hero .container .titulo {
    font-size: 30px;
  }

  .hero .image .img {
    height: 250px;
  }

  .projects {
    grid-template-columns: 300px 300px;

  }

  .sobre {
    backdrop-filter: blur(0px);
    max-width: none;
    width: 100%;
    margin-left: 20px;
  }

  .mais {
    justify-content: center;
    align-items: center;
    background-image: none;
    background-color: darkslategray;
  }
}

@media (max-width: 886px) {
  .rodape #job h2 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .hackerBoy {
    max-width: 300px;
  }

  .rodape #job {
    text-align: center;
  }

  .mais .sobre>h2 {
    font-size: 30px;
  }

  #ativar {
    display: block;
  }

  .navegacao,
  #desativar {
    display: none;
  }

  .navegacao ul {
    flex-direction: column;
    position: absolute;
    z-index: 4;
    right: 20px;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 230px;
    padding: 20px;
    box-shadow: 10px 10px 15px 1px grey;
    backdrop-filter: blur(10px);
  }

  .navegacao .about {
    margin-top: 20px;
  }

  .navegacao .btn {
    margin-top: 20px;
    backdrop-filter: blur(10px);
  }

  .navegacao ul li {
    margin-left: 50px;
    margin-top: 20px;
    max-width: 150px;
    width: 100%;
  }

  .navegacao ul li a {
    font-size: 22px;
  }
}

@media (max-width:735px) {
  .rodape .job {
    flex-direction: column;
    padding: 30px 10px 30px 10px;
  }

  .rodape .job .btnContato {
    margin-left: 15px;
  }

  .rodape .job h2 {
    margin-bottom: 20px;
    margin-right: 0px;
    font-size: 30px;
  }

  .rodape .job p {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 620px) {
  .projects {
    grid-template-columns: 350px;
  }

  .projects .item {
    margin-top: 20px;
  }

  .hackerBoy {
    max-width: 230px;
  }
}


@media (max-width: 495px) {
  .rodape h2 {
    width: 100%;

  }

  .mais {
    height: 80vh;
  }

  .mais .sobre h2 {
    font-size: 20px;
  }

  #cabecalho {
    padding: 70px 0px;
  }

  .hackerBoy {
    max-width: 200px;
  }
}